
.card-list{
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
    text-align: center;
    background-color: pink;
    padding: 10px 0;

    
}
.button-next,
.button-prev {
    background-color: rgb(144, 186, 194);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    min-width: 10px;



}



.allCard {
    display: flex;
    justify-content: center;
    align-items: center;


}
.total-views{
    padding: 10px 0;
}

