
.card-list{
    margin: 10px;
    /* display: inline-block;
    flex-direction: column;
    align-items: flex-start; */
    width: 250px;
    border-radius: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
    text-align: center;
    background-color: pink;
    padding: 10px 0;

    
}
.button-next,
.button-prev {
    background-color: rgb(144, 186, 194);
    border-radius: 10px;
    align-items: center;
    /* display: flex; */
    min-width: 10px;
  text-align: center;
  display: inline-block;


}
.button-next{
    margin-top: 10px;

}
.allCard{
    box-sizing: border-box;
     display: inline-block;
    flex-direction: column;
    align-items: flex-start;

}
button{

    display: inline-flex;
}
/* .end {
    width: 50%;
    height: 50%;
    background-image: url(/dictionary/public/images/fireworks1.png);
    
} */
