
.footer-container{
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;
    margin: 10px 0 0 0;

}
.footer-info-3 img{
    width: 25px;
    height: 25px;
    padding: 0 5px;
}