
.footer-container{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: large;
    

}
.footer-info-3 img{
    width: 25px;
    height: 25px;
    padding-right: 6px;
    
    
}
section .footer-info-3 {
    display: flex;
    align-content: center;
    align-items: center;
}


