
.table-cart {
    margin: 0, auto;
    width: 600px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 250px ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    background-color: pink;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    



}

.delete {
    background-color: red;
    border-radius: 10px;
}
.save {
    background-color: green;
    border-radius: 10px;
}
button :hover{
    background-color: rgb(144, 186, 194);
}
.transcription ,
.translation ,
.table-button {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}