.table-cart {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: center;
    justify-items: stretch;
    background-color: beige;
    border: 2px solid rebeccapurple;
    margin-left: 150px;



}
.delete {
    background-color: red;
}
.save {
    background-color: green;
}
button :hover{
    background-color: rgb(144, 186, 194);
}