
table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    
}
th {
    border: 2px solid grey;
    width: 20%;
    background-color: pink;
    
}
td {
    border: 1px solid grey;
    background-color: pink;
   
    
}
td:first-child {
    width:30%
}
th, td {
    padding: 10px 15px;
}



.delite {
    background-color: red;
    border-radius: 10px;
}
.save {
    background-color: green;
    border-radius: 10px;
}
.cancel{
    background-color: yellow;
    border-radius: 10px;
}
.edit{
    background-color: orange;
    border-radius: 10px;
}
.transcription ,
.translation ,
.name,
.button-wordlist
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.error {
    
    border: 3px solid red;
}

